<#@ template language="C#" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>

function Serialize() {
    var ids = [<#= String.Join(",", this.elements) #>];
	var str = "<res>";
	for (i = 0; i < ids.length; i++) {
		var obj = document.getElementById(ids[i]);
		if (obj == undefined) { continue; }
        str += "/r/n"+obj.outerHTML;
    }
	str+="</res>"
    return str;
}